[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/lihop/nixpkgs
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "modules/nixos-router"]
	path = modules/nixos-router
	url = https://github.com/stanipintjuk/nixos-router
