{ config, pkgs, ... }:

{
  # Copy this template to a file called configuration.nix 
  # and uncomment configs for this device and its roles.
  imports =
    [ # Device: 
        #./devices/chromebook.nix
        #./devices/desktop.nix
        #./devices/homeserver.nix
      # Roles:
        ./roles/common.nix
        #./roles/server.nix
        #./roles/steammachine.nix
        #./roles/virtualisation.nix
        #./roles/workstation.nix
    ];
}
